.admin-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.admin-page-header h1 {
    margin: 0;

    font-size: 28px;

    color: #111827;
}

.admin-page-header p {
    margin-top: 6px;

    color: #6b7280;
}


.stats-grid {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 20px;

    margin-bottom: 25px;
}


.stat-card {
    background: white;

    border-radius: 14px;

    padding: 20px;

    display: flex;

    align-items: center;

    gap: 15px;

    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.05);
}


.stat-icon {
    width: 50px;
    height: 50px;

    border-radius: 12px;

    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 22px;
}

.purple {
    background: #ede9fe;
}

.blue {
    background: #dbeafe;
}

.green {
    background: #dcfce7;
}

.orange {
    background: #ffedd5;
}


.stat-card span {
    color: #6b7280;

    font-size: 13px;
}

.stat-card h2 {
    margin: 5px 0 0;

    color: #111827;
}


.dashboard-grid {
    display: grid;

    grid-template-columns:
        2fr 1fr;

    gap: 20px;
}


.dashboard-card {
    background: white;

    border-radius: 14px;

    padding: 22px;

    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.05);
}


.card-header {
    display: flex;

    justify-content: space-between;

    align-items: center;
}

.card-header h3 {
    margin: 0;
}

.card-header button {
    border: none;

    background: transparent;

    color: #4f46e5;

    cursor: pointer;
}

.empty-dashboard {
    height: 180px;

    display: flex;

    align-items: center;

    justify-content: center;

    color: #9ca3af;
}


@media (max-width: 1000px) {

    .stats-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .dashboard-grid {
        grid-template-columns: 1fr;
    }
}